       /* селектор по тегу p */
       p {
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgb(231, 240, 240);

        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-style: italic;
    }

    /* сброс нумерации для  ul */
    ul {
        list-style-type: none;
    }

    /* селектор по атрибуту */
    input[type=text] {
        background-color: yellow;
        color: red;
    }

    /* ширина высота */
    .my_button {
        width: 100px;
        height: 100px;
        border: none;
    }

    .my_div1{
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }

    .error{
        color: red;
    }

    /* вложенный селектор */
    div.my_class1{
        color: red;
    }